body{
  background: radial-gradient(#7618ad, #fff) fixed;
}

img{
  width: 33%;
  height: 20%;
}

div{
  width: 960px;
  margin: 0px auto;
  margin-top: 100px;
  border: solid;
  border-color: purple;
  border-width: 20px;
}

p{
  width: 960px;
  margin: 0px auto;
   margin-top: 20px;
  font-size: 20px;
  
  
}